---
apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
caCertPath: /etc/kubernetes/pki/ca.crt
discovery:
  bootstrapToken:
    apiServerEndpoint: MASTER_PRIVATE_IP:6443
    caCertHashes: 
    - CERT_TOKEN
    token: abcdef.0123456789abcdef
  timeout: 5m0s
  tlsBootstrapToken: abcdef.0123456789abcdef
nodeRegistration:
  # criSocket: unix:///var/run/containerd/containerd.sock
  criSocket: unix:///var/run/containerd/containerd.sock
  imagePullPolicy: IfNotPresent
  kubeletExtraArgs:
    cloud-provider: aws
  name: worker   # UPDATE with the full AWS DNS name e.g ip-10-99-2-246.us-west-2.compute.internal
  taints: null